.Profile {
  padding: 1rem;
  display: flex;
  align-items: center;

  &-avatar {
    width: 4rem;
    height: 4rem;
    background-color: $light;
    border-radius: 4rem;

    & img {
      border-radius: 4rem;
      border: thin solid $links;
    }
  }

  &-name {
    margin-left: 2rem;
  }

  &Menu {
    &-listItem {
      margin: 1rem;
    }

    &-item {
      list-style-type: none;
      border-bottom: thin solid $medium;
    }

    &-link {
      display: block;
      padding: 1rem;
      text-decoration: none;
    }
  }

  &Page {
    max-width: $header-container-width;
    margin: auto;

    &-aside {

    }

    &-main {
      display: flex;
      flex-direction: column;
    }

    &-figure {
      margin: auto;
      padding: 1.5rem;
      border-bottom: medium solid $links;
    }

    &-avatar {
      margin: 0 auto 1rem;
      width: 5rem;
      height: 5rem;
      background-color: $light;
      border-radius: 4rem;

      img {
        border-radius: 4rem;
      }
    }

    &-name {
      text-align: center;
      & h2 {
        color: $success;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (min-width: 64em) {
  .Profile {
    display: none;

    &-avatar {

    }

    &-name {

    }

    &Menu {
      top: -.5rem;
      position: relative;
      border: thin solid $light;
      background-color: $dark;

      &:after,
      &:before {
	      content: '';
        bottom: 100%;
	      left: 90%;
	      border: thin solid transparent;
	      height: 0;
	      width: 0;
	      position: absolute;
	      pointer-events: none;
      }

      &:after {
        border-color: transparent;
        border-bottom-color: $dark;
        border-width: 10px;
        margin-left: -10px;
      }

      &:before {
        border-color: transparent;
        border-bottom-color: #FFF;
        border-width: 12px;
        margin-left: -12px;
      }

      &-listItem {
        margin: 0;
      }

      &-item {
        border-bottom: none;
      }

      &-link {
        padding: .5rem 1rem;
      }
    }

    &Page {
      padding-top: calc( #{$header-height} + 2rem );
      display: flex;

      &-aside {
        width: 25%;
      }

      &-main {
        width: 75%;
      }

      &-figure {
        width: 80%;
        box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .5);
      }
    }
  }
}
